/* DARK THEME */
html,
body {
  background: #2c2640 !important;
}

/* TOAST */

.toast-modal {
  background: rgba(28, 31, 35, 1) !important;
  color: whitesmoke !important;
}

.toast-close {
  color: #ffdb5b !important;
}

.toast-close:hover {
  color: rgba(255, 193, 7, 0.8) !important;
}

.content-link {
  color: #ffdb5b !important;
}

.content-link:hover {
  color: #ffdb5b !important;
  opacity: 0.8;
}

/* MAIN PAGE */

th,
td {
  color: whitesmoke;
}

/* Offcanvas */

.oc-menu {
  background-color: #3d3657 !important;
  padding-top: 70px;
}

/* PRIMARY LINK */
.nav-link-primary {
  color: whitesmoke !important;
}

.nav-link-primary:hover {
  color: #ffe869 !important;
  border-left: 2px solid #ffe869;
}

.nav-link-primary.active {
  color: #ffe869 !important;
}

/* ICON */
.navbar-icon {
  fill: #fff;
}

.brand-icon {
  fill: #fff;
}

.nav-link-primary:hover .navbar-icon {
  fill: #ffe869;
}

svg:hover > g.brand-icon {
  fill: #ffe869;
}

/* SECONDARY LINK */

.nav-link-secondary {
  color: white;
}

.nav-link-secondary:hover {
  color: #ffe869 !important;
}

.nav-link-secondary.active {
  color: #ffe869 !important;
}

/* NAV ITEMS */

.nav-item.nav-link.active {
  border-left: 2px solid #ffe869;
  color: #ffe869;
}

.nav-item.nav-link.active .navbar-icon {
  fill: #ffe869;
}

/* MODAL CONTENT */

.d-modal .modal-content {
  background-color: #3d3657;
  border-radius: 30px;
}

.chat-userstats-modal .modal-content {
  background-color: #3d3657;
  border-radius: 30px;
}

.d-modal .btn.btn-transparent,
.chat-userstats-modal .btn.btn-transparent {
  color: #ffe869 !important;
}

.d-modal,
.chat-userstats-modal {
  color: whitesmoke;
}

.d-modal-input {
  background-color: #292b2c !important;
  color: whitesmoke !important;
}

/* DROPDOWN BUTTON */

.dd-profile .dropdown-menu {
  background-color: #3d3657;
}

.dd-profile .dropdown-item {
  color: whitesmoke !important;
}

.dd-profile .dropdown-item:disabled {
  color: #adb5bd !important;
}

.dd-profile .dropdown-item:hover {
  background-color: #2c2640 !important;
}

/* WEB3 MODAL */

.web3modal-provider-container {
  border: 1px solid #52525b;
}

.web3modal-provider-container:hover {
  border: 1px solid #3b82f6;
}

.web3modal-modal-card {
  background-color: #212529 !important;
}

.web3modal-provider-container {
  background-color: #212529 !important;
}

.web3modal-provider-container:hover {
  background-color: #52525b !important;
}

.web3modal-provider-name {
  color: whitesmoke !important;
}

.modal-content {
  color: whitesmoke;
  background-color: #3d3657;
  margin-top: 100px;
}

/* ROADMAP */

.indexedStep {
  color: white;
  background-color: rgb(216, 216, 216);
}

.indexedStep.accomplished {
  background-color: #ffc107;
  border: 1px solid #ffc107;
}

.indexedStep.current {
  background-color: #fad47a;
  border: 2px solid #ffc107;
}

.roadmap {
  max-width: 700px;
  margin: 50px auto;
}

.roadmap-label {
  color: #565656;
}

.roadmap-label.accomplished,
.roadmap-link,
.arrow-highlight {
  color: #ffc107;
}

.roadmap-link:hover {
  color: #ffc107;
  opacity: 0.8;
}

.RSPBprogressBar .RSPBprogression {
  background-color: #fad47a !important;
}

.arrow-default {
  color: #b4b4b4;
}

.roadmap-card {
  background-color: #212529 !important;
}

.faq-border {
  border-bottom: 2px solid whitesmoke;
}

/* CHAT */

.chatting_chat_msgs {
  background-color: #3d3657;
}

.chat_cont {
  color: #fff;
}

.chat_input {
  background-color: #2a243d;
  color: #adbec6 !important;
}

/* STATS */

.profit-plus {
  color: #49d276;
}

.profit-minus {
  color: coral;
}
